{
  "src": {
    "consumer_key":        "the consumer key for the account to emulate",
    "consumer_secret":     "the consumer secret for the account to emulate",
    "access_token_key":    "the access token key for the account to emulate",
    "access_token_secret": "the access token secret for the account to emulate"
  },
  "bot": {
    "consumer_key":        "the consumer key for the ebooks account",
    "consumer_secret":     "the consumer secret for the ebooks account",
    "access_token_key":    "the access token key for the ebooks account",
    "access_token_secret": "the access token secret for the ebooks account"
  },
}
